doctype 5
html(ng-app="myApp")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.container((ng-controller="csrfCtrl"))
      block content
    script(src="/javascripts/jquery.min.js")
    script(src="/javascripts/bootstrap.min.js")
    script(src="/javascripts/angular.min.js")
    script(src="/javascripts/controllers.js")
